body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 header{
    position: fixed;
     top: 0;
     /* 与浏览器视窗本身的距离，距离top为0；
        不设置的空白应该是浏览器给下一个加的20px的margin？？？ */
    width: 100%;
    background-color: black;
}

header img{
    float: left;
    border-radius: 50%;
    margin:auto;
}

header h1{
    margin: 5px 25% 0 35%;
    color: white;
    float: left;
}

header nav{
    float: right;
}

header li{
    float: left;
    margin-right: 50px;
    margin-top: 15px;
}
header a{
    color: white;
}

main{
    /* clear: both; */
    margin: 80px auto 0;
    /* 上 右 下 左 
    如果给margin赋了三个值，则第四个（left）由复制第二个（right）得到。
    如果给出了两个，则第四个由复制第二个得到，第三个（bottom）由复制第一个（top）得到。
    如果只给出了一个值，那么将被复制到其他三个。
    */
}
.description{
    padding: 3% 10%;
    background-color: rgb(241, 241, 241);
}
.description img{
    float: left;
    width: 35%;
    margin-right: 10px;
}

.description-p2{
    clear: left;
}

.relationship{
    padding: 3% 10%;
}
.relationship img{
    float: right;
    width: 35%;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer{
    clear: both;
    background-color: rgb(241, 241, 241);
    height: 80px;
    line-height: 80px;
    text-align: center;
}